{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% 
		stylesheets output='css/services.css' 
		'@SiteHomeBundle/Resources/public/css/services.css'
	%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" title="no title" charset="utf-8"/>
	{% endstylesheets %}
	
{% endblock %}
{% block body %}
	<div id="services" class="span-24" >
		<div class="serv span-24">
			<p class="titre-services">Les Services</p>
		</div>
		<div class="span-24">
			<div class="span-24 block block-3-line premiere-ligne">
		    		<div class="span-24 photo-list">
		    				<div class="photo-item-1 span-6 block block-2-line" id="photo-1">
		    					<div class="block-content">
		    						<img src="/images/services/serviceslogorvcar.png" alt="micro1">
		    					</div>
		    				</div>
		    				<div class="texte-1 span-11 block block-2-line" id="texte1-1">
		    					<div class="block-content">
		    						<p class="texte1">Des Spécialistes reconnus mécanique auto</p>
		    					</div>
		    				</div>
		    				<div class="photo-prefecture span-5 last block block-2-line" id="photo3-1">
		    					<div class="block-content">
		    						<img src="/images/services/ecusson.png" alt="prefecture1">
		    					</div>
		    				</div>
		    		</div>
		    </div>		
		    <div class="span-24 block block-10-line deuxieme-groupe">		
		    		<div class="span-24 photo-list">		
		    				<div class="texte2-2 span-6 block block-3-line" id="photo-2">
		    					<div class="block-content">
		    						<p class="texte2-21">REPARATIONS</p>
		    						<p class="texte2-22">TOUTES</p>
		    						<p class="texte2-23">MARQUES</p>	
		    					</div>
		    				</div>
		    				<div class="photo-item-2-1 span-11 block block-3-line" id="photo2-1">
		    						<div class="block-content">
		    							<img src="/images/services/plaquelogocentre.png" alt="service2-1">	
		    						</div>				
		    				</div>
		    				<div class="photo-item-2-2 span-5 last block block-3-line" id="photo2-2">
		    						<div class="block-content">
		    							<img src="/images/services/plaquelogodroite.png" alt="service2-2">	
		    						</div>
		    				</div>
		    		</div>
		    		<div class="span-24 photo-list">		
		    				<div class="photo-item-3 span-6 block block-3-line" id="photo-3">
		    						<div class="block-content">
		    							<img src="/images/services/pneucreve.png" alt="micro3">
		    						</div>
		    				</div>
		    				<div class="texte-3 span-11 block block-3-line" id="texte3-1">
		    						<div class="block-content">
		    							<p class="texte31">Exemples de petites pannes réparées dans l'heure</p>
		    							<p class="texte32">Pneu crevé</p>
		    							<p class="texte33">Changement de courroie, variateur</p>
		    							<p class="texte34">Révision à partir de 99 Euros : ( Changement de filtre, vidange, contrôle freins, serrage, éclairage..)</p>	
		    					</div>
		    				</div>
		    				<div class="logo-assureur span-5 last block block-3-line" id="assureur-3">
		    						<div class="block-content">
		    							<img src="/images/services/roueenreparation1.png" alt="assureur">
		    						</div>
		    				</div>
		    		</div>
		    		<div class="span-24 photo-list">		
		    				<div class="photo-item-4 span-6 block block-3-line" id="photo-4">
		    					<div class="block-content">
		    						<img src="/images/services/batterie.png" alt="micro3">
		    					</div>
		    				</div>
		    				<div class="texte-4 span-11 block block-3-line" id="texte3-1">
		    						<div class="block-content">
		    							<p class="texte41">Exemples de piéces détachées</p>
		    							<p class="texte42">Amortisseurs, Batterie, Courroie,</p>
		    							<p class="texte43">Variateurs, Filtres</p>
		    							<p class="texte44">Plaquettes de freins etc..</p>	
		    					</div>
		    				</div>
		    				<div class="photo-item-2-d span-5 last block block-3-line" id="auto">
		    					<div class="block-content">
		    						<img src="/images/services/plaquettefrein.png" alt="micro3">
		    					</div>
		    				</div>
		    		</div>
		    	</div>
		    	
		    		<div class="span-24 photo-list-03">		
		    				<div class="photo-item-6 span-6 block block-3-line" id="location-1">
		    					<div class="block-content">
		    						<img src="/images/services/libreauto.png" alt="micro3">
		    					</div>
		    				</div>
		    				<div class="texte-6 span-11 block block-3-line" id="texte5-1">
		    					<div class="block-content">
		    						<div class="block-content">
		    							<p class="texte61">LOCATION : Découvrez nos formules de location</p>
		    							<p class="texte62">Formule Liberté eco green</p>
		    							<p class="texte63">Formule Liberté</p>
		    							<p class="texte64">Formule Liberté Pro</p>	
		    					</div>	
		    					</div>
		    				</div>
		    				<div class="photo-item-6-d span-5 last block block-3-line" id="europe-assistance">
		    					<div class="block-content">
		    						<img src="/images/services/20euros.png" alt="micro3">
		    					</div>
		    				</div>
		    		</div>
		    		<div class="span-24 photo-list-03">		
		    				<div class="photo-item-7 span-6 block block-3-line" id="location-1">
		    					<div class="block-content">
		    						<img src="/images/services/depanneuse.png" alt="micro3">
		    					</div>
		    				</div>
		    				<div class="texte-7 span-11 block block-3-line" id="texte5-1">
		    					<div class="block-content">
		    						<div class="block-content">
		    							<p class="texte71">Dépannage dans l'heure sur lîle de France</p>
		    							<p class="texte72">Dépannage 24h / 24 et 7 Jours / 7</p>
		    							<p class="texte73">Sur les dépt : 95,92,93,77,91,94</p>
		    							<p class="texte74">Réparation possible sur place avec 50% des véhicules dépannés sur place</p>	
		    					</div>	
		    					</div>
		    				</div>
		    				<div class="photo-item-7-d span-5 last block block-3-line" id="europe-assistance">
		    					<div class="block-content">
		    						<img src="/images/services/hommerepair.png" alt="micro3">
		    					</div>
		    				</div>
		    		</div>
		    		<div class="span-24 photo-list-03">		
		    				<div class="photo-item-8 span-6 block block-3-line" id="location-1">
		    					<div class="block-content">
		    						<img src="/images/services/logocartegrise.png" alt="micro3">
		    					</div>
		    				</div>
		    				<div class="texte-8 span-11 block block-3-line" id="texte5-1">
		    					<div class="block-content">
		    						<div class="block-content">
		    							<p class="texte81">Commander votre carte grise et plaques en ligne</p>
		    							<p class="texte82">Votre carte grise à partir de</p>
		    							<p class="texte83">Votre carte grise + plaques à partir de</p>
		    							<p class="texte84">Vos plaques à partir de </p>	
		    					</div>	
		    					</div>
		    				</div>
		    				<div class="photo-item-8-d span-5 last block block-3-line" id="europe-assistance">
		    					<div class="block-content">
		    						<img src="/images/services/agreprefecture.png" alt="micro3">
		    					</div>
		    				</div>
		    		</div>
		    		<div class="span-24 photo-list-03">		
		    				<div class="photo-item-9 span-6 block block-3-line" id="location-1">
		    					<div class="block-content">
		    						<img src="/images/services/viaxel.png" alt="micro3">
		    					</div>
		    				</div>
		    				<div class="texte-9 span-11 block block-3-line" id="texte5-1">
		    					<div class="block-content">
		    						<div class="block-content">
		    							<p class="texte91">Nos solutions de financement: un ex de solution</p>
		    							<p class="texte92">Véhicule 10 000€</p>
		    							<p class="texte93">Apport: 2000€  Durée : 72 mois</p>
		    							<p class="texte94">Mensualités : 148.68€/mois</p>	
		    					</div>	
		    					</div>
		    				</div>
		    				<div class="photo-item-9-d span-5 last block block-3-line" id="europe-assistance">
		    					<div class="block-content">
		    						<img src="/images/services/cetelem.png" alt="micro3">
		    					</div>
		    				</div>
		    		</div>
		   </div>
	 
			
	</div>
{% endblock %}
