{% extends "::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% 
		stylesheets output='css/ventedetail.css' 
		'@SiteHomeBundle/Resources/public/css/ventedetail.css'
	%}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" title="no title" charset="utf-8"/>
	{% endstylesheets %}
	
{% endblock %}

{% block body %}
	<div id="ventedetail" class="span-24" >
		<div class="vento span-24" id="vento-detail">
			<p class="titre-services">Vente Neuf Détail</p>
		</div>
		<div class="span-11">
			<div class="span-11">
		  			<div class="span-11 diaporamad-11-list">
		    				{% set idRubriqueBandeau = 38 %}
		    				<div class="diaporamad11 span-9 block block-9-line" id="diaporamad-11">
		    					<div class="block-content">
		    				{{ getSpipJquerySlider(idRubriqueBandeau, { "forceResize" : true, "width" : 400, theme : "Slider", "height" : 300, texte: false }) | raw }}
		    					</div>
		    				</div>
		    		</div>		
		 	</div>
		 </div>
		 <div class="span-12">
		  			<div class="span-12 texte21-list">
		  					<div class="detail-logo span-11 block block-2-line" id="detail-logo-1">
		    					<div class="block-content">
		    						<img class="imagelogo" src="/images/detail/impressionimages.png" align="right">
		    						<p class="textelogo">Imprimer l'Annonce</p>
		    					</div>
		    				</div>	
		    				
		    		</div>
		  			<div class="span-12 diaporamad-21-list">
		    				
		    				<div class="texte-diaporamad21 span-11 last block block-12-line" id="texte-diaporamad21-t">
		    					{% for rubrique in boucleRubriques({ "idRubrique" : 38 }) %}						
									<div class="content">{{ rubrique.getTexte() | raw }}</div>
								{% endfor %}
		    				</div>
		    		</div>
		    		
		    		</div>	
		  			<div class="span-24 listebasse-list">
		    				
		    				<div class="listebase-lien span-4 last block block-3-line" id="lienpdf-1-1">
		    					<p class="texte-lienpdf">Détail de l'offre (pdf)</p>
		    					<a class="pointeur-lienpdf" href="lienpdf.html.twig">En savoir plus</a>
		    				</div>

		    				<div class="garantie-lien span-6 last block block-3-line" id="garantie-1-2">
		    					<img class="garantie-photo" src="" >
		    					<p class="garantie-texte">Garantie</p>
		    				</div>
		    				
		    				<div class="assistance-lien span-5 last block block-3-line" id="assistance-1-2">
		    					<img class="assistance-photo" src="" >
		    					<p class="assistance-texte">Assistance</p>
		    				</div>
		    		</div>
		
		
	</div>
{% endblock %}
