    			<div class="title span-9 prepend-1">
    				<img src="/images/logorvcarbandeau.png" alt="logorvcar">	
    			
	    			<div class="textheader">
	    					<p>Voitures sans permis - Toutes Marques</p>
	    			</div>
	    		</div>
    			<div class="menu span-14 last">{{ knp_menu_render('SiteHomeBundle:MainBuilder:build') }}</div>	
    			
    			<div class="tel span-5 block block-1-line">
    				<p class="telephone">01 46 42 19 65</p>
    				<img src="/images/telphoto3.png" alt="telep">
    			</div>
    			